.login_form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    /* Center the div in the middle of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_input{
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}