@import "primeicons/primeicons.css";

.navbar {
    width: 100%;
    height: 800px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    transform: translateX(0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar .nav-button {
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 999;
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}